body {
    background-image: url('/Imagenes/texcal-liso_gris-t12.jpg');
}

.panelCss {
    background: white;
    vertical-align: middle;
    border: 5px solid blue;
  
}

#bodyForm{
    align-items:center;

}